// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


	#one {
		/*background-color: red;*/
		height: 500px;

	}
	#two {
		/*background-color: blue;*/
		height: 1000px;
		margin-top: 1px;
	}

	form {
		text-align: center;
		max-width: 300px;
		margin: auto;

	}
	.header {
		margin-top: 10px;
		letter-spacing: .3em;
		text-align: center;
		margin: auto;
		margin-top: 150px;
		margin-bottom: 10px;
		font-family: Futura;
		color: white;
	}

	.box {
		background-color: lightslategrey;
		display: block;
		border: 1px;
		border-color: white;
		border-style: solid;
	}

	.event {
		width: 100%;
		height: 30%;
		background-color: black;
		border: 1px solid grey;
		font: white;

	}
