<div class="nav">

<div class="row">
	<div class="col-md-6 col-xs-12 box">
		<div class="row">
			<div id="one" class="col-md-12 box">
				<h1 class="header">Is it Cool?</h1>
				<form >
					<input type="text" autofocus="true" placeholder="¯\_(ツ)_/¯" class="form-control searchval">
				</form>
			</div>
		</div>
		<div class="row">
			<div id="one" class="col-md-12 box">
				<form>
					<h1 class="header">Sign up</h1>
					<input class="form-control" type="text" placeholder="email">
					<input class="form-control" type="text" placeholder="password">
					<input class="form-control" type="text" placeholder="">
				</form>

			</div>
		</div>
	</div>
		<div id="two" class="col-md-6 col-xs-12 box">
		</div>
</div>

</div>