<!DOCTYPE html>
<html>
<head>
  <title>Is It Cool?</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body ng-app="isItCool">

	<div ng-view></div>

</body>
</html>
